.image-class{
	background-image: url('../images/Globe.png');
	background-repeat: no-repeat;
	background-size: cover;
 	width:10em;
	height: 10em;
}

/* Cover font color */
.container{

	background-color: white;
}

.container> h1{
  	color: black;
 	font-family: cursive;
 	font-size: 2em;
	margin-top:-0.5em;
	font-weight:bold;
	margin-bottom:0;
	text-align: center;
	width:8em;
}

.container >input{
	width:40em;
	text-align:center;
	color: black;
	border: 0px solid;
	font-family: cursive;
	font-size: 2em;
}

.button-margin{
  	margin-left: 35em;
  	width: 10em;
  	font-size: 1em;
  	margin-bottom: 2em;
}

.icons-below >form >input{
	text-align:center;
	color: black;
	font-family: cursive;
	font-size: 2em;
	width:80em;
	border: 0px solid;
}

.main-questions > ul >li{
	list-style:none;
	margin-left:20em;
	font-family:cursive;
	font-size: 1.4em;
	color:black;
	font-weight:bold;
}

.last_page > form >input{
	width: 60em;
	color:black;
	text-align:center;
	font-size:1.9em;
	border:0px solid;
	font-family:cursive;
}

.button-margin-last-page{
  	margin-left: 42em;
  	width: 10em;
  	font-size: 1.2em;
  	margin-bottom: 2em;
  	margin-top:1em;
}

@media only screen and (min-width: 550px) and (max-width: 1050px) { 
 
.container >input{
 	width:20em;
}

.button-margin{
  	margin-left: 15em; 
}

.icons-below >form >input{
	font-size: 1.6em;
	width:30em;
}

.main-questions > ul >li{
	margin-left:8em;
	font-size: 1.2em;  
}

.last_page > form >input{
	 width: 50em;
	 font-size:1.8em;
}

.button-margin-last-page{
  	margin-left: 38em;
  	width: 8em;
  	font-size: 1em;
}

@media only screen and (max-width: 550px) { 

.container > h1{
	font-size: 2em;
	width:6em;
}

.container >input{
 	width:10em;
}

.button-margin{
  	margin-left: 10em;
 
}

.icons-below >form >input{
	font-size: 1.2em;
	width:20em;
}

.main-questions > ul >li{
	margin-left:3em;
	font-size: 0.8em;  
}

.last_page > form >input{
	 width: 20em;
	 font-size:1.2em;
}

.button-margin-last-page{
  	margin-left: 8em;
  	width: 8em;
  	font-size: 1em;
}

